<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get started!</title>
    <link rel="stylesheet" href="input.css">
</head>

<style>
    body  {
        /* background-image: url(../consula/images/pic/bg.png); */
        background-color: black;
    }
</style>
<body>
    <div class="container">

        <header>
            <h2><a href="index.html"><i class="ion-plane"></i> X-ActoR</a></h2>
                <nav>
                    <ul>
                        <li>
                            <a href="index.html" title="Hotels">Home</a>
                        </li>
                        <li>
                            <a href="index.html" title="Flights">About us</a>
                        </li>
                        <li>
                            <a href="index.html" title="Tours">How it works</a>
                        </li>
                        <!-- <li>
                            <a class="btn" href="#" title="Register / Log In">Donate</a>
                        </li> -->
                    </ul>
                </nav>
        </header>

        <!-- <div class="cover">
            <h1>Let us know what you need.</h1>
            <form  class="flex-form">
                <label for="from">
                <i class="ion-location"></i>
                </label>
                <input type="search" placeholder="Insert a picture here">
                <input type="submit" value="Search">
            </form>
            <div id="madeby">
                <span>
                Photo by <a href="https://unsplash.com/@benblenner" target="_blank">Google Inc.</a>
                </span>
            </div>
            </div>
        
        </div> -->

        <!-- <div class="frame flex">
            

            <div class="center">
                <div class="title">
                    <h1>Drop a photo of your actor/actress</h1>
                </div>
        
                <div class="dropzone">
                    <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                    
                    <input class="upload-input" type="file" name="image" id="file" required >
                </div>
        
                <button type="button" class="btn" name="uploadbutton">Find for me!</button>
        
            </div> -->

    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <div class="file-upload">
        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

    <div class="image-upload-wrap">
        <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
        <div class="drag-text">
            <h3>Your image</h3>
        </div>
    </div>
    <div class="file-upload-content">
        <img class="file-upload-image" src="#" alt="your image" />
        <div class="image-title-wrap">
            <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
        </div>
    </div>
    </div>

            <div class="info">
                <div class="info-text-1">
                    <h1 class="info-main-text">NAME/ID : <span class="info-text">  </span> </h1>
                </div>

                <div class="info-text-2">
                    <h1 class="info-main-text">D.O.B : <span class="info-text"></span> </h1>
                </div>

                <div class="info-text-3">
                    <h1 class="info-main-text">INFORMATION : <span class="info-text"></span> </h1>
                </div>
            </div>
        </div>
</body>
</html>